body {
    background-color: greenyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
    width: 40;
    padding: 10px;
    box-shadow: inset;
    border-radius: 0%;
    background-color: crimson;
}

h1 {
    color: purple;
}

p {
    color: #333;
}

.lead {
    font-size: 18px;
    font-weight: 600;
}

#unique {
color: orange;
font-size: italic;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: large;
text-align: center;
}

p {
    line-height: 1.5;
}

a {
    color: coral;
}

.highlight {
    background-color: fuchsia;
    border-radius: 100px;
}

.centered {
    margin: 0 auto;
    padding: 5px;
    margin: 1px;
    min-width: 10px;
    max-width: 10px;
}


a {
    color: blue;
    text-decoration: none;
  }

  a:hover {
    color: red;
    text-decoration: underline;
  }

  a:visited {
    color: purple;
  }